<h1>Welcome to CrouchingPythonBNB</h1>

<form action="/list_property" method="get">
  <input type="submit" value="List a Space" />
</form>

<ul>
<% @properties.each do |property| %>
<a href="/book_property/<%= URI.escape(property.name) %>"><li id="<%= property.name %>">
  <%= property.name %>
  <%= property.description %>
  <%= property.price %>
</li></a>
<% end %>
</ul>
