<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css" />
      <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    </head>
      <body>
        <div class="myDiv">
          <div class="bg"></div>

          <div class="topnav">
            <a class="navbar-brand" href="/index">
              <div class="logo-image">
                <img src="https://i.imgur.com/Keb8hcq.png" class="img-fluid">
              </div>
  				  <a class="active" href="/index">Home</a>
  				  <a href="/sign_out">Log out</a>
            <a href="/requests">See booking requests</a>
  				</div>

          <div>
            <h1>Welcome to Crouching Python B'n'B</h1>
          </div>

            <div><center>
              <form action="/list_property" method="get">
                <input class="buttonTwo" type="submit" value="List a Property" />
              </form>
            </div>

            <div id="all_prop">
            <% @properties.each do |property| %>
              <center><div id="list-element">
                <div id="property-image">
                  <img src="<%= property.image %>">
                </div>
                <br>
                <br>
                <div id="space-footer">
                  <h2><%= "#{ property.name }" %></h2>
                  <h3><%= "#{ property.location }" %></h3>
                  <h3><%= "#{ property.weather }" %></h3>
                  <span id="description">
                    <h3><%= "#{ property.description }" %></span><p><h3>
                  <form action="/book_page_request" method="post">
                    <input type="hidden" name="property_id" value="<%= property.id %>">
                    <center><input type="submit" value="Book"/>
                  </form>
                  <br>
                </div>

              </div>
            <% end %>
        </div>
      </div>
    </body>
  </html>
