<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css" />
      <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    </head>
      <body>
        <div class="myDiv">
          <div class="bg"></div>

          <div class="topnav">
  				  <a class="active" href="/">Home</a>
  				  <a href="/sign_out">Log out</a>
  				</div>
          <div>
            <h1>Welcome to Crouching Python B'n'B</h1>
          </div>


<a href="/requests" align="right">See Requests</a>

            <div>
              <form action="/sign_out" method="get">
                <input class="button" type="submit" value="Log out" />
              </form>
            </div>

            <div><center>
              <form action="/list_property" method="get">
                <input class="buttonTwo" type="submit" value="List a Property" />
              </form>
            </div>

            <div>
              <ul>
              <% @properties.each do |property| %>
              <li class="listandard" id="<%= property.name %>">
              <p><form action="/book_page_request" method="post">
                <input type="hidden" name="property_id" value="<%= property.id %>">
                <div>
                <input type="submit" value="
                  <%= property.name %>
                  <%= property.description %>
                  <%= property.price %>">
                  <img src="<%= property.image %>">
                </div>
                </form>
              </li>
              <% end %>
              </ul>
            </div>
        </div>
    </body>
</html>
