<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css" />
      <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    </head>
      <body>
        <h1>Manage Request</h1>

<body>
  <div class="myDiv">
    <div class="bg"></div>

    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/sign_out">Log out</a>
      <a href="/index">Back</a>
    </div>

    Request From:<%= @booking_request['name'] %>
      Dates Requested:
      <%= @booking_request['start_date'] %> to <%= @booking_request['end_date'] %>

      Other Requests for this Property:
      <ul>
      <% @other_requests.each do |request| %>
      <li id="<%= request['id'] %>">
      <form action="/request" method="post">
        <input type="hidden" name="request_id" value="<%= request['id'] %>">
        <input type="submit" value="
        <%= request['property_name'] %>
        <%= request['start_date'] %>
        <%= request['end_date'] %>
        ">
        </form>
      </li>
      <% end %>
      </ul>

      <form action="/handle_request" method="post">
        <input type="submit" value="Confirm" name="response" />
        <input type="submit" value="Reject" name="response" />
      </form>
    </div>
</body>
