<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css" />
      <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
      </head>
        <body>
          <div class="myDiv">
            <div class="bg"></div>

            <div class="topnav">
    				  <a class="active" href="/index">Home</a>
    				  <a href="/sign_out">Log out</a>
              <a href="/index">Back</a>
    				</div>

<div class="container">
            <h1>Owner Requests</h1>
              <center><div id="list-element">
                <% @owner_requests.each do |request| %>
                  <center><div id="<%= request['id'] %>">

                    <div id="space-footer">
                      <h3><%= request['property_name'] %></h3>
                      <span id="description">
                        <h4><%= request['start_date'] %> to
                        <%= request['end_date'] %></h4></span>
                        <p><font color="#c91aaf"><h4><%= request['approved'] %></h4></font>
                      <form action="/request" method="post">
                        <input type="hidden" name="request_id" value="<%= request['booking_id'] %>">
                        <center><input class="buttonThree" type="submit" value="View">
                      </form>
                      <br>
                    </div>
                  </div>
              <% end %>
            </div>
</div>

<div class="container-two">
        <h1>Renter Requests</h1>
        <center><div id="list-element-two">
          <% @renter_requests.each do |request| %>
            <center><div id="<%= request['id'] %>">
              <div id="space-footer">
                <h3><%= request['property_name'] %></h3>
                <span id="description">
                  <h4><%= request['start_date'] %> to
                  <%= request['end_date'] %></h4></span>
                  <p><font color="#c91aaf"><h4><%= request['approved'] %></h4></font>
                <form action="/request_details" method="post">
                  <input type="hidden" name="request_id" value="<%= request['id'] %>">
                  <center><input class="buttonThree" type="submit" value="View">
                </form>
                <br>
              </div>
            </div>
        <% end %>
      </div>
  </div>
      </body>
</html>
