<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css" />
      <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    </head>
      <body>
          <div class="myDiv">
            <div class="bg"></div>

            <div class="topnav">
              <a class="navbar-brand" href="/index">
                <div class="logo-image">
                  <img src="https://i.imgur.com/Keb8hcq.png" class="img-fluid">
                </div>
              <a class="active" href="/index">Home</a>
              <a href="/sign_out">Log out</a>
              <a href="/requests">Back</a>
            </div>

            <h1>Manage Requests</h1>

    <center><div id="list-element">
      <p><h3>Request From :    <%= @booking_request['name'] %></h3>
      <p><h3>Dates Requested :
      <p><%= @booking_request['start_date'] %> to <%= @booking_request['end_date'] %></h3>
    </div>

      <center><div id="list-element">
        <p><h3>Other Requests for this Property:</h3>
      <ul>
      <% @other_requests.each do |request| %>
        <li class="listandard" id="<%= request['id'] %>">
      <form action="/request" method="post">
        <input type="hidden" name="request_id" value="<%= request['id'] %>">
        <input type="submit" value="
        <%= request['property_name'] %>
        <%= request['start_date'] %>  to  <%= request['end_date'] %>
        ">
        </form>
      </li>
      <% end %>
      </ul>

      <form action="/handle_request" method="post">
        <input class="buttonThree" type="submit" value="Confirm" name="response" />
        <input class="buttonThree" type="submit" value="Reject" name="response" />
      </form>
      <br>
      </div>
    </div>
</body>
